body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(248, 208, 227);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.btn-viajera{
  background-color: rgb(236, 123, 167);
  color: rgb(255, 255, 255);
  border: none;
  font-weight: 500;
}

.btn-viajera:hover{
  background-color: aquamarine;
}

h1{
  color: rgb(255, 239, 13);
}

h2{
  color: rgb(207, 53, 143);
}
